.product-list-title {
  margin-left: 50%;
  font: italic;
  color: #15179f;
  text-shadow: 2px 2px 4px #000000;
  transform: translateX(-50%);
}

.product-card {
  border: none;
  border-radius: 10px;
  background-color: #dfc3c3;
  margin-bottom: 30px;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-name {
  font-weight: bold;
  color: #212529;
  margin-bottom: 10px;
}

.product-description {
  color: #6c757d;
  font-size: 14px;
  line-height: 1.5;
}

.product-price {
  font-weight: bold;
  color: #dc3545;
  margin-top: 10px;
  margin-bottom: 20px;
}

.view-product-button {
  margin-right: 5px; /* Reduce space between buttons */
  padding: 5px 10px; /* Add some padding to button */
  color: #fff; /* Change button color to white */
  background-color: #007bff; /* Change button background color */
  border-color: #007bff; /* Change button border color */
  transition: all 0.2s ease-in-out;
}

.view-product-button:hover {
  background-color: #0056b3; /* Darken button background color on hover */
  border-color: #0056b3; /* Darken button border color on hover */
}

.delete-product-button {
  margin-left: 5px; /* Reduce space between buttons */
  padding: 5px 10px; /* Add some padding to button */
  color: #fff; /* Change button color to white */
  background-color: #dc3545; /* Change button background color */
  border-color: #dc3545; /* Change button border color */
  transition: all 0.2s ease-in-out;
}

.delete-product-button:hover {
  background-color: #b52031; /* Darken button background color on hover */
  border-color: #b52031; /* Darken button border color on hover */
}
