/* button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #ffd700;
}
.off {
  color: #ccc;
}
.star-rating {
  display: flex;
  height: fit-content;
} */
